.messageBox{
    padding: 0.51rem;
    margin: 1rem;
    border-radius: 0.5rem;
    display: inline-block;
    clear: both;
    font-size: 1.5rem;
    
}

.right{
    float: right;
    background-image: linear-gradient(to left bottom , #68b5f3, #ffff);    
    color: rgb(0, 0, 0);
    text-align: right;
}

.left{
    float: left;
    color: rgb(0, 0, 0);
    text-align: left;
background-image: linear-gradient(to left bottom , #ffffff, #68b5f3);    
}
.userName{
    display: flex;
    align-items: flex-start;
    padding: 0.2rem;
    font-size: large;
    font-family: monospace;
    color: rgb(43, 0, 255);
    border-bottom: 2px solid blue;
    text-transform: uppercase;
    letter-spacing: 0.11rem;
}
.messageText{
     padding: 0.12rem;
     margin: 0.2rem;
}
@media only screen and (max-width: 767px) {
    .messageBox{
        font-size: large;
    }
}